<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Doctor Dashboard</title>
        <link rel="stylesheet" href="/static/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
        crossorigin="anonymous">

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>


        <style>
            .headings{
                padding: 15px;
            }
            #canvas{
                padding: 20px;
                height: auto;
            }
            
        </style>
    </head>

    <body>
        <div id="main">
            <div id="canvas">

                <nav class="navbar navbar-expand-lg bg-body-tertiary">

                    <div class="container-fluid">
                        <a class="navbar-brand" href="/doctor/{{this_doctor.doctor_id}}">Welcome Dr. {{this_doctor.name}}</a>
                        
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <div id="content">
                    <h3 class="headings"> Upcoming Appointments</h3>
                    <div id="table">
                        <table class="table border">
                            <thead>
                                <tr>
                                    <th scope="col">Sr. No.</th>
                                    <th scope="col">Patient Name</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Patient History</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set ns = namespace(found=false, count=0) %}
                                
                                {% for ap in appoint %}
                                    {% if ap %}
                                        
                                        {% if ap.status == "Upcoming" or ap.status == "Updated"%}
                                        {% set ns.found = true %}
                                        {% set ns.count = ns.count + 1 %}
                                            <tr>
                                                <th >{{ ns.count }}</th>
                                                <td>{{ ap.patient.name }}</td>
                                                <td>{{ ap.date }}</td>
                                                <td>
                                                    <a href="/update_patient_history/{{ap.appointment_id}}" class="btn btn-secondary btn-sm" >update</a>
                                                </td>
                                                <td>
                                                    <a href="/complete_appoint/{{ap.appointment_id}}" class="btn btn-success btn-sm"> Completed </a>
                                                    {% if ap.status == "Updated" %}
                                                        <button class="btn btn-secondary btn-sm" disabled>Cancel</button>
                                                    {% else %}
                                                        <a href="{{ url_for('cancel_appoint', appoint_id=ap.appointment_id, role='doctor') }}" class="btn btn-danger btn-sm"> Cancel </a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                

                                {% if not ns.found %}
                                    <tr>
                                        <td colspan="6" class="text-center text-muted">
                                            No upcoming appointments
                                        </td>
                                    </tr>
                                {% endif %}
                                
                            </tbody>
                        </table>
                    </div>
                    
                    <h3 class="headings"> Assigned Patients</h3>

                    
                            <div class="accordion" id="patientAccordion">

                                {% for patient in assigned_patients if patient.status == "Active" %}
                                <div class="accordion-item">

                                    <h2 class="accordion-header" id="heading{{patient.patient_id}}">
                                        <button class="accordion-button collapsed" type="button" 
                                            data-bs-toggle="collapse" 
                                            data-bs-target="#collapse{{patient.patient_id}}">
                                            {{ loop.index }}.  {{ patient.name }}
                                        </button>
                                    </h2>

                                    <div id="collapse{{patient.patient_id}}" 
                                        class="accordion-collapse collapse" 
                                        data-bs-parent="#patientAccordion">
                                        
                                        <div class="accordion-body text-center">

                                            <table class="table table-bordered table-sm">
                                                <thead class="table-light">
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Appointment</th>
                                                        <th>History</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    {% for t in patient.treatment|sort(attribute='treatment_id', reverse=True) %}
                                                    <tr>
                                                        <td>{{ loop.index }}</td>
                                                        <td>{{ t.appointment.date }} at {{ t.appointment.time }}</td>
                                                        <td>
                                                            <a href="/view_patient_history/{{t.appointment.appointment_id}}" class="btn btn-secondary btn-sm" >view</a>
                                                        </td>
                                                    </tr>
                                                    {% else %}
                                                    <tr>
                                                        <td colspan="4" class="text-center text-muted">
                                                            No treatment history found
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                    
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>

                                {% endfor %}
                            </div> <br>

                        <div class="text-end">
                            <a href="/doctor/{{this_doctor.doctor_id}}/availability" class="btn btn-warning"> Provide Availability</a>
                        </div> 

                </div>
            
            </div>
        </div>
    </body>
</html>