<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Past appointments</title>
        <link rel="stylesheet" href="/static/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
        crossorigin="anonymous">

        <style>
            .headings{
                padding: 15px;
            }  
            #canvas{
                width: 70%;
                height: auto;
                padding: 20px;
            }
        </style>
    </head>

    <body>
        <div id="main">
            <div id="canvas">

                <nav class="navbar navbar-expand-lg bg-body-tertiary">

                    <div id="nav" class="container-fluid">
                        <a class="navbar-brand">History</a>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                
                                <li class="nav-item">
                                    <a class="nav-link" href="/patient/{{patient.patient_id}}">Back</a>
                                </li>
                            </ul>
                           
                    </div>
                </nav>

                <div id="content">
                    <div class="container my-5">


                        <div class="d-flex align-items-center mb-3">
                            <h4 class="m-0 me-2">{{patient.name}}, Your Past Appointments : </h4> <br>
                            
                        </div>

                        <table class="table border table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Sr No.</th>
                                    <th scope="col">Appointment ID</th>
                                    <th scope="col">Doctor's Name</th>
                                    <th scope="col">Department</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Time</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set ns = namespace(found=false, count=0) %}
                                {% for a in appoint %}
                                    {% if a %}
                                    {% set ns.count = ns.count + 1 %}
                                    {% set ns.found = true %}
                                    
                                    <tr>
                                        <th scope="row">{{ ns.count }}</th>
                                        <!-- {% set dr = a.doctor %}
                                        {% set dept = dr.dept.department_name %} -->
                                        <td>{{ a.appointment_id }}</td>
                                        <td>{{ a.doctor.name }}</td>
                                        <td>{{ a.doctor.dept.department_name }}</td>
                                        <td>{{ a.date }}</td>
                                        <td>{{ a.time }}</td>
                                        {% if a.status == "Completed" %}
                                        <td class="text-center">
                                            
                                            <a href="/view_patient_history/{{a.appointment_id}}" class="btn btn-success btn-sm">view details</a>
                                            
                                        </td>
                                        
                                        {% elif a.status == "Cancelled" %}
                                            <td class="text-center" > Cancelled</td>
                                        
                                        {% endif %}

                                    </tr>
                                    {% endif %}
                                {% endfor %}

                                {% if not ns.found %}
                                <tr>
                                    <td colspan="7" class="text-center text-muted">
                                        No past appointments
                                    </td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>

                </div>

                
            
            </div>
        </div>
    </body>
</html>