<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Search Results</title>
        <link rel="stylesheet" href="/static/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
        crossorigin="anonymous">
        <style>
            #canvas {
                padding: 20px;
                height: auto;
            }
        </style>
    </head>
    <body>
        <div id="main">
            <div id="canvas"> <br>

                <div class="d-flex justify-content-between align-items-center">
                        <h2 class="headings">Search Results for: "{{ query }}"</h2> 
                        <a href="/patient/{{this_patient.patient_id}}" class="btn btn-outline-danger btn-sm mx-2">Go Back</a>
                </div> 
                <br>
                
                {% if doctors %}
                <table class="table table-bordered text-center table-striped">
                    <tr><th>#</th><th>Name</th><th>Specialization</th><th>Action</th></tr>
                    {% for d in doctors %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{ d.name }}</td>
                        <td>{{ d.dept.department_name }}</td>
                    
                        <td class="text-center">
                            <a href="/patient/{{this_patient.patient_id}}/department/{{d.dept.department_id}}/{{d.doctor_id}}" class="btn btn-success btn-sm">view details</a>
                            <a href="/patient/{{this_patient.patient_id}}/view_availability/{{d.doctor_id}}" class="btn btn-sm btn-warning"> Check Availability </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table> <br>
                {% else %}
                <p>No doctor found.</p> <br>
                {% endif %}


            </div>
        </div>
    </body>
</html>

