<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Edit Patient Details Form</title>
        <link rel="stylesheet" href="/static/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
        crossorigin="anonymous">

        <style>
            #canvas{
                padding: 20px;
                height: auto;
            }
        </style>
    </head>
    <body>
        <div id="main">
            <div id="canvas"> <br>

                {% with messages = get_flashed_messages(with_categories=true) %}    
                    {% if messages %}
                        {% for category, msg in messages %}
                        <div class="alert alert-{{ category }} py-1 px-2 mt-2">
                            {{ msg }}
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <div class="d-flex justify-content-between align-items-center">
                        <h2 class="headings">Edit Patient Details</h2> 
                        <a href="/admin" class="btn btn-outline-info btn-sm mx-2">Go Back</a>
                </div>
                
                <br> <br>
                
                <form  class="row g-3" action="/registered_patients/{{patient.patient_id}}" method="post">

                    <div class="row">
                        <div class="col-md-6">
                            <label for="inputname" class="form-label">Name</label>
                            <input type="text" class="form-control" id="inputname" value="{{patient.name}}" name="name">
                        </div>
                    
                        <div class="col-md-6">
                            <label for="inputEmail4" class="form-label">Email</label>
                            <input type="email" class="form-control" id="inputEmail4" value="{{patient.email}}" readonly>
                        </div>
                    </div> <br>
                    <div class="row gy-2">
                        <div class="col-md-4">
                            <label for="user" class="form-label">Username</label>
                            <input type="text" class="form-control" id="user" name="uname" value="{{patient.username}}" readonly>
                        </div>
                    </div> <br>
                    <div class="row gy-2" >
                        <div class="col-md-7">
                            <label for="inputPassword4" class="form-label">New Password</label>
                            <input type="password" class="form-control" id="inputPassword4" name="pwd">
                        </div>
                        <div class="col-md-4">
                            <label for="inputPasswordConfirm" class="form-label">Confirm New Password</label>
                            <input type="password" class="form-control" id="inputPasswordConfirm" name="confirm_pwd">
                        </div>
                    </div> <br>
                    <div class="row gy-2">
                        <div class="col-2">
                            <label for="age" class="form-label">Age</label>
                            <input type="text" class="form-control" id="age" value="{{patient.age}}" name="age">
                        </div>
                        <div class="col-4">
                            <label for="gen" class="form-label">Gender</label>
                            <select id="gen" name="gender" class="form-select">
                            <option selected>Choose...</option>
                            <option value="Male" {% if patient.gender == "Male" %}selected{% endif %}>Male</option>
                            <option value="Female" {% if patient.gender == "Female" %}selected{% endif %}>Female</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <label for="phone" class="form-label">Contact</label>
                            <input type="text" class="form-control" id="phone" name="phone" value="{{patient.phone}}" pattern="\d{10}" minlength="10" maxlength="10" title="Phone number must be exactly 10 digits">
                        </div>
                    </div> <br>
                    <div class="row gy-2">
                        <div class="col-4">
                            <label for="type" class="form-label">Patient Type</label>
                            <select id="type" name="type" class="form-select">
                            <option selected>Choose...</option>
                            <option value="IPD" {% if patient.patient_type == "IPD" %}selected{% endif %}>IPD</option>
                            <option value="OPD" {% if patient.patient_type == "OPD" %}selected{% endif %}>OPD</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label for="sta" class="form-label">Status</label>
                            <select id="sta" name="status" class="form-select">
                            <option selected>Choose...</option>
                            <option value="Active" {% if patient.status == "Active" %}selected{% endif %}>Active</option>
                            <option value="Discharged" {% if patient.status == "Discharged" %}selected{% endif %}>Discharged</option>
                            </select>
                        </div>
                    </div> <br>

                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Address</label>
                        <input type="text" class="form-control" id="inputAddress" value={{patient.address}} placeholder="1234 Main St" name="address">
                    </div> 
                    <br>
                    <div class="row gy-3">
                        <div class="text-center">
                            <input type="submit" class="btn btn-success" value="Save">
                        </div> <br>
                    </div>
                    

                </form> <br>
            </div>
        </div>  
    </body>
</html>

