*{
    margin: 0;
}
#main,canvas{
    border: 2px solid black;
    margin-top: 10px;
}
#canvas{
    width: 60%;
    height: 600px;
    margin:auto;
    border: 2px solid black;    
}
#form-body{
    width: 400px;
    height: 462px;
    border: 2px solid white;
    margin: auto;
    margin-top: 67px;
    color: rgb(36, 75, 100);
    background-color: rgb(250, 238, 204);
    padding: 20px;
}
h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}